<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.me.TagStore"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<service android:enabled="true" android:name=".FileWatchdogService" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".InfoTab" />
		<activity android:name="TagActivityGroup" />
		<activity android:name=".ConfigurationTabActivity" />
		<activity android:name=".ConfigurationActivityGroup" />
		<activity android:name=".AddFileTagActivity" />
		<activity android:name=".FileDialogBrowser" />
		<activity android:name=".DirectoryListActivity" />		
		<activity android:name=".SynchronizeTagStoreActivity" />
		<activity android:name=".TagActivityGroup" />		
		<activity android:name=".TagStoreListViewActivity" />
		<activity android:name=".TagStoreCloudViewActivity" />					
		<activity android:name=".PendingFileLauncherActivity" />
		<activity android:name=".PendingFileActivityGroup" />		
		<activity android:name=".ListViewSettingsActivity" />
		<activity android:name=".DatabaseSettingsActivity" />
		<activity android:name=".NotificationSettingsActivity" />
    </application>
</manifest>