<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.me.tagstore"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<service android:enabled="true" android:name="org.me.tagstore.core.FileWatchdogService" />
        <activity android:name=".MainPagerActivity"
				  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

      <activity
      android:name="com.dropbox.client2.android.AuthActivity"
      android:launchMode="singleTask"
      android:configChanges="orientation|keyboard">
      <intent-filter>
        <data android:scheme="db-ad35fyo1q9o0x1w" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>          
            

   		<activity android:name=".SMBSettingsActivity" />      
   		<activity android:name=".DropboxSettingsActivity" />      
   		<activity android:name=".DropboxSynchronizerActivity" />
		<activity android:name=".InfoTab" />
		<activity android:name=".ConfigurationTabActivity" />
		<activity android:name=".AddFileTagActivity" />
		<activity android:name=".FileDialogBrowser" />
		<activity android:name=".DirectoryListActivity" />		
		<activity android:name=".SynchronizeTagStoreActivity" />
		<activity android:name=".TagStoreCloudViewActivity" />	
		<activity android:name=".TagStoreGridViewActivity" />				
		<activity android:name="org.me.tagstore.ShareActivity" android:label="@string/app_name">
		    <intent-filter> 
		      <action android:name="android.intent.action.SEND"/>    
                <data android:mimeType="*/*" />		      
      		  <category android:name="android.intent.category.DEFAULT" />		      
		    </intent-filter>
		</activity>
    </application>
</manifest>